@font-face{
	font-family: "Mak";
	font-style:normal;
}

body{
    margin:0;
    font-family: "Beware";
    font-style: normal;
    font-size: 35px;
    color:#ffff; 
    background-color: #E8ACB5;
    width:100%;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
.text_1{
  position: absolute;
  width: 683px;
  height: 313px;
  left: 117px;
  top: 266px;
  font-family: Mak;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 135px;
  text-align: center;
  letter-spacing: 0.075em;
  -webkit-text-stroke-width: 2px;
  box-sizing: border-box;
  z-index: 2;
}
.pic_1{
  position: absolute;
  width: 1021.08px;
  height: 651.66px;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.pic_2{
  position: absolute;
  width: 541.11px;
  height: 784px;
  left: 909px;
  top: 82px;
  z-index: 2;
}
.text_2{
  position: absolute;
width: 651px;
height: 123px;
left: 148px;
top: 685px;
}
.text_3{
position: absolute;
width: 760px;
height: 135px;
left: 551px;
top: 969px;
font-family: Mak;

font-weight: bold;
font-size: 100px;
line-height: 135px;
text-align: center;
letter-spacing: 0.075em;
}
.text_4{
  position: absolute;
width: 923px;
height: 235px;
left: 464px;
top: 1190px;
font-family: Beware;
font-weight: normal;
font-size: 35px;
line-height: 134.5%;
letter-spacing: 0.075em;
}
.pic_3{
  position: absolute;
  width: 1593px;
  height: 1077px;
  left: 0px;
  top: 1366px;
}
.pic_4{
  position: absolute;
width: 1602px;
height: 2037px;
left: -1px;
top: 2486px;
z-index: 1;
}
.text_5{
  position: absolute;
width: 612px;
height: 517px;
left: 211px;
top: 2838px;

font-weight: normal;
font-size: 35px;
line-height: 134.5%;
letter-spacing: 0.075em;
z-index: 2;
}
.text_6{
  position: absolute;
width: 612px;
height: 423px;
left: 880px;
top: 3693px;
font-weight: normal;
font-size: 35px;
line-height: 134.5%;
letter-spacing: 0.075em;
z-index: 2;
}
.text_7{
  position: absolute;
width: 1238px;
height: 135px;
right: 108px;
top: 780px;
font-family: Mak;
font-weight: bold;
font-size: 100px;
line-height: 135px;
text-align: center;
letter-spacing: 0.075em;
}
.pic_5{
  position: absolute;
width: 1055px;
height: 821px;
right: 185px;
top: 826px;
}
.text_8{
  position: absolute;
width: 633px;
height: 268px;
right: 761px;
top: 1716px;
font-weight: normal;
font-size: 30px;
line-height: 134.5%;
letter-spacing: 0.075em;
}
.text_9{
  position: absolute;
width: 577px;
height: 347px;
right: 51px;
top: 1716px;
font-weight: normal;
font-size: 30px;
line-height: 134.5%;
letter-spacing: 0.075em;
}
.pic_6{
  position: absolute;
width: 1103.44px;
height: 869.57px;
right: 207px;
top: 2100px;
}
.pic_7{
  position: absolute;
width: 89.07px;
height: 89px;
right: 155px;
top: 2200px;
}
.text_10{
  position: absolute;
height: 82px;
left: 222px;
top: 2300px;
font-size: 35px;
line-height: 134.5%;
text-align: center;
letter-spacing: 0.075em;
}
.pic_8{
  position: absolute;
width: 102px;
height: 102px;
right: 1142px;
top: 2850px;
}
.text_11{
  position: absolute;
width: 346px;
height: 51px;
right: 1000px;
top: 2935px;
font-weight: bold;
font-size: 35px;
line-height: 134.5%;
text-align: center;
letter-spacing: 0.075em;
}
.pic_2:hover{
   transform: scale(1.25);
}
